* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;

}

body {
    background-color:hsl(185, 41%, 84%);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.mainCard {
  background-color:white;
  min-width:700px;
  min-height:400px;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  padding:3rem;
}

.leftSide {
    width:50%;
    display:flex;
    flex-direction: column;
    gap:35px;
}

/*First Container*/

.leftFirstContainer > input {
    margin-right: 10px;
    border-radius:5px;
    background-color:hsl(189, 41%, 97%);
    border:none;
    outline:none;
    padding:0.5rem;
    width:100%;
    color:hsl(183, 100%, 15%);

}

.leftFirstContainer > h3 {
    font-size:13px;
    color:hsl(184, 14%, 56%);
    
}

/*Second Container */

.leftGridContainer {
    display:flex;
    flex-direction: column;
    gap:5px;
}

.leftGridContainer > h3 {
    font-size:13px;
    color:hsl(184, 14%, 56%);
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    padding-right:1rem;
}

.grid > button {
    background-color:hsl(183, 100%, 15%);
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
}

.grid > input {
    background-color:hsl(183, 100%, 15%);
    color:white;
    border:none;
    border-radius:5px;
    padding:5px;
    width:100%;
    text-align:center;
}

#custom {
    background-color:hsl(189, 41%, 97%);
    color:hsl(184, 14%, 56%);}

    /*Third Section*/

.leftBottomContainer {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.leftBottomContainer > h3 {
    font-size:13px;
    color:hsl(184, 14%, 56%);
    
}

#numberOfPeople {
    background-color:hsl(189, 41%, 97%);
    border-radius:5px;
    padding:0.5rem;
    outline:none;
    
}

.borderAdd {
    border:3px solid red;
}
/*Right Side*/

.rightSide {
    border:1px solid black;
    width:50%;
    margin-left: 3rem;
    border-radius:15px;
    background-color:hsl(183, 100%, 15%);
    color:white;
    padding:1.5rem;
    display:flex;
    flex-direction: column;
    gap:30px;
    font-size:13px;
    padding-top:2rem;
}

#tipOutput {
    font-size:25px;
    color:hsl(172 67% 46%);
}

#total {
    font-size:25px;
    color:hsl(172 67% 46%);
}

.rightSideTop {
    font-size:13px;
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.rightSideSecond {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#reset{
    padding:0.5rem 6rem;
    justify-self: flex-end;
    border-radius:0.5rem;
    border:none;
    background-color:hsl(172 67% 46%);
    font-size:15px;
    color:hsl(183, 100%, 15%);
    width:100%;
}

#reset:hover {
    background-color:hsl(172 67% 60%);
    cursor:pointer;
}

.rightSideButtonContainer {
    display:flex;
    align-items: flex-end;
    height:100%;
}

#perPerson {
    color:hsl(184, 14%, 56%);
}

#numberOfPeople {
    color:hsl(183, 100%, 15%);
}

.stop {
    color:red;
    font-size:13px;
}

button {
    cursor:pointer;
}

.hover:hover {
    background-color:hsl(172 67% 46%);
}

.hover:focus {
    background-color:hsl(172 67% 46%);
}

#billPrice {
    background-image: url(images/icon-dollar.svg);
    background-repeat:no-repeat;
    background-position: left;
    text-align:right;
    background-position-x: 1rem;
    font-size:1rem
}

#numberOfPeople {
    background-image:url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position:left;
    text-align:right;
    background-position-x:1rem;
    font-size:1rem;
    outline:none;
    
}

#custom:hover {
    cursor:pointer;
    
}



